@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

main {
    background-color: #0050FF;
    color: white;
    padding-top: 60px;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

ul {
    padding-left: 0;
}

.header-flex-container {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 25px 40px;
    background: white;
}

.header-flex-item-left {
    flex-basis: 50%;
}

.mini-square {
    float: left;
    width: 20px;
    height: 20px;
    margin: 15px 15px 15px 0;
    background: #0050FF;
}

.header-flex-item-left > h1 {
    float: left;
    font-weight: 700;
    margin-right: 10px;
}

.header-flex-item-left > h3 {
    float: left;
    margin: 10px 5px;
    font-weight: 300;
}

h3 > b {
    font-weight: 600;
}

.header-flex-item-right {
    flex-basis: 50%;
    text-align: right;
}

nav {
    margin: 23px 0;
}

nav a {
    padding: 15px 0;
    border-top: 1px solid black;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.nav-active {
    padding: 15px 20px;
    border-top: 1px solid #0050FF;
    box-shadow: inset 0px 10px 0px -6px #0050FF;
    font-weight: 600;
    color: #0050FF;
}

nav a:hover {
    padding: 15px 20px;
    border-top: 1px solid #0050FF;
    box-shadow: inset 0px 10px 0px -6px #0050FF;
    font-weight: 600;
    color: #0050FF;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-left: 30px;
}

.main-top-flex-container {
    display: flex;
    width: 100%;
    height: 330px;
    padding: 0 60px;
}

.main-top-flex-item-left {
    flex-basis: 50%;
    text-align: right;
}

.main-top-flex-item-right {
    flex-basis: 50%;
    text-align: center;
}

.main-top-flex-item-right > img {
    margin-top: 15px;
}

.main-circle {
    width: 150px;
    height: 150px;
    background: #FBFF00;
    border-radius: 75px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.circle-hint {
    position: absolute;
    top: 220px;
    left: calc(50% + 80px);
    padding-left: 125px;
}

.circle-hint:before {
    content:" ";
    display: block;
    height: 1px;
    width: 120px;
    position: absolute;
    top: 50%;
    left: 0;
    background: white;
}

.main-top-flex-item-left > h1 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}

.main-top-flex-item-left > h2 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 5px;
}

.main-top-flex-item-left > h2 > strong {
    font-weight: 600;
    background: #FBFF00;
    color: #0050FF;
}

.main-top-flex-item-left li {
    display: inline;
    list-style-type: none;
    margin-left: 10px;
}

.statement-flex-container {
    display: flex;
    width: 100%;
    height: 230px;
    background: #F0F8FF;
    margin-top: 70px;
    color: black;
    padding: 60px 60px;
}

.statement-flex-item-left {
    flex-basis: 50%;
    text-align: right;
    font-size: 14px;
}

.statement-flex-item-left h2 {
    position: relative;
    padding-right: 55px;
    margin-bottom: 12px;
}

.statement-flex-item-left h2:after {
    content: " ";
    height: 1px;
    width: 50px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.statement-flex-item-left p {
    margin-bottom: 5px;
}

.company {
    padding: 0 60px 60px 60px;
    background: #F0F8FF;
    text-align: center;
}

.company .fancy-box {
    background: white;
    color: black;
    padding: 45px 0 50px 0;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(183, 183, 183, 0.2);
}

.fancy-box p {
    margin-bottom: 40px;
}

.fancy-box li {
    display: inline;
    list-style-type: none;
    margin: 0 30px;
}

@media screen and (max-width: 1280px) {    
    .nav-active {
        padding: 15px 10px;
    }
    
    nav a:hover {
        padding: 15px 10px;
    }
    
    nav li {
        margin-left: 20px;
    }

    .main-top-flex-container {
        height: 240px;
    }

    .main-top-flex-item-left > h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .main-top-flex-item-left > h2 {
        font-size: 23px;
        margin-bottom: 3px;
    }

    .main-top-flex-item-left img {
        width: 32px;
    }

    .statement-flex-container {
        height: 200px;
        margin-top: 70px;
        padding: 50px 60px;
    }

    .statement-flex-item-left h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .statement-flex-item-left p {
        font-size: 13px;
        margin-bottom: 3px;
    }
}